.cart-icon{
    border: none;
    text-decoration: none;
    list-style: none;
    list-style-type: none;
    color: $fonts;
    background-color: transparent;
    font-size: 20px;
    padding:0 10px;
    &:hover{
        background-color: transparent;
        color: $fonts;
    }
}