.navbar-container {
  @include flex-row;
  width: 150px;
  height: 5vh;
  background-color: $yellow;
  position: fixed;
  top: 0px;
  z-index: 10;
  padding: 50px 0;
  width: 100%;
  justify-content: space-evenly;
  .navbar-logo {
    width: 200px;
  }
  .navbar-list-container {
    @include flex-row;
    ul {
      margin: 0;
      li {
        @include flex-row;
        a {
          @include text-deco-none;
          letter-spacing: 5px;
          font-family: "Architects Daughter", cursive;
          font-size: 15px;
          color: $fonts;
          padding: 0 15px;
        }
      }
    }
  }
  .icon-container {
    display: flex;
    a {
      @include flex-row;
      padding-left: 15px;
      font-size: 20px;
      color: $fonts;
    }
  }
}
