.sections-container {
  .welcoming {
    @include flex-column;
    background-image: url("../../../assets/image/backgrounds/home.png");
    @include bg-cover;
    @include bg-image;
    .welcoming-title {
      font-size: 3vw;
      width: 30vw;
      margin-right: 15vw;
    }
  }

  .description {
    @include flex-row;
    height: 70vh;
    background-image: url("../../../assets/image/backgrounds/pattern.png");
    @include bg-fixed;
    .text-container {
      width: 40vw;
      background-color: $bg-color-opacity;
      padding: 3vw;
      h2 {
        font-size: 1vw;
        color: $fonts;
        text-align: center;
      }
    }
  }

  .brand-details {
    @include flex-row;
    .detail-container {
      @include flex-column;
      padding: 10vw 3vw 0 3vw;
      .detail-title {
        font-weight: 600;
        font-size: 1vw;
        padding-top: 1vw;
      }
      .detail-desc {
        font-size: .7vw;
        width: 15vw;
        text-align: center;
        padding-top: 20px;
      }
      .icon {
        font-size: 3vw;
      }
    }
  }

  .categories-container {
    height: fit-content;
    @include flex-column;
    .category-title {
      font-size: 3vw;
      margin-top: 20vh;
      align-self: flex-start;
    }
    .card-container {
      @include flex-row;
      margin-bottom: 40vh;
      .categories {
        height: 40vh;
        padding: 0 30px;
        .category-img {
          width: 20vw;
        }
      }
    }
  }

  .about {
    @include flex-column;
    height: 150vh;
    background-image: url("../../../assets/image/backgrounds/patt-brand-name.png");
    @include bg-fixed;
    .text-container{
      @include flex-column;
      width: 60vw;
      height: 40vh;
      background-color: $bg-color-opacity;
      .about-title{
        font-size: 3vw;
        padding-bottom: 1vw;
      }
      .about-desc{
        font-size: 1vw;
        width: 40vw;
        text-align: center;
      }
    }
  }
}
