.sections-container {
  .welcoming {
    @include flex-column;
    background-image: url("../../../assets/image/backgrounds/home.png");
    @include bg-cover;
    @include bg-image;
    .welcoming-title {
      font-size: 50px;
      width: 30vw;
      margin-right: 300px;
    }
  }

  .description {
    @include flex-row;
    height: 70vh;
    background-image: url("../../../assets/image/backgrounds/pattern.png");
    @include bg-fixed;
    .text-container {
      width: 40vw;
      background-color: $bg-color-opacity;
      padding: 30px;
      h2 {
        font-size: 25px;
        color: $fonts;
        text-align: center;
      }
    }
  }

  .brand-details {
    @include flex-row;
    .detail-container {
      @include flex-column;
      padding: 100px 40px 0 40px;
      .detail-title {
        font-size: 30px;
      }
      .detail-desc {
        font-size: 15px;
        width: 15vw;
        text-align: center;
        padding-top: 20px;
      }
      .icon {
        font-size: 80px;
      }
    }
  }

  .categories-container {
    height: 120vh;
    @include flex-column;
    .category-title {
      font-size: 80px;
    }
    .card-container {
      @include flex-row;
      .categories {
        height: 40vh;
        padding: 0 30px;
        .category-img {
          width: 20vw;
        }
      }
    }
  }

  .about {
    @include flex-column;
    height: 150vh;
    background-image: url("../../../assets/image/backgrounds/patt-brand-name.png");
    @include bg-fixed;
    .text-container{
      @include flex-column;
      width: 60vw;
      height: 40vh;
      background-color: $bg-color-opacity;
      .about-title{
        font-size: 60px;
      }
      .about-desc{
        font-size: 18px;
        width: 40vw;
        text-align: center;
        padding: 20px 0;
      }
    }
  }
}
