.titles-web{
    font-family: 'Amatic SC', cursive;
    letter-spacing: 5px;
}

.texts{
    font-family: 'Architects Daughter', cursive;
}

.b-radius{
    border-radius: 10px;
}

.link-router{
    text-decoration: none;
    list-style: none;
    list-style-type: none;
    color: $fonts;
}