.carr-img {
  width: 30vw;
  border-radius: 5px;
}

.item-container {
  @include flex-row;
  width: 100%;
  height: 100vh;
  background-color: $bg-color;
  margin-top: 50px;
  .item-img {
    width: 30vw;
  }
  .item-info {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    width: 30vw;
    height: fit-content;
    .item-title {
      font-size: 3vw;
    }
    .item-price {
      font-size: 1vw;
      color: $salmon;
      font-weight: 600;
    }
    .item-desc {
      font-size: 1vw;
      padding-top: 20px;
    }
    .item-design-disclaimer {
      font-size: .7vw;
      font-weight: 600;
      padding-top: 20px;
      letter-spacing: 3px;
    }
    .item-qty {
      padding-top: 30px;
      font-size: 1vw;
    }
    .btn-to-products {
      font-size: 1vw;
      padding: 1vw 0;
    }
  }
}
